<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="true">
        <logo>
                <a class="logo navbar-brand" routerLink="/home"><strong>CSL</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/modulo-coleta">Solicitação de Coleta</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/modulo-frete">Tabela de Frete</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/modulo-controle-frete-simulacao">Simulação de Frete</a>
                </li> 
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                        <button type="button" class="btn btn-default btn-sm" (click)="logout()">
                                <span class="fa level-down" aria-hidden="true"></span>Sair
                        </button>
                        <button type="button" class="btn btn-default btn-sm" (click)="login()">
                                <span class="fa level-down" aria-hidden="true"></span>Login
                        </button>
                    </li>  
            </ul>
        </links>
      </mdb-navbar>
      <!-- Main -->
      <main>
        <div class="container" style="height:1300px;">
          <section class="section feature-box pt-5" id="feature" data-spy="feature"
          data-target="#feature">
      
            <!--Section heading-->
            <h1 class="section-heading pt-4">Bem vindo !! {{usuario}}</h1>
            <!--Section description-->
            <p class="section-description lead grey-text">Ao sistema CSL </p>
        
            <!--Grid row-->
            <div class="row features-small pt-5">
        
                <!--Grid column-->
                <div class="col-lg-5 mb-r center-on-small-only">
                    <img src="https://www.gokamz.com/assets/images/icon_rental_blue-f3f477639c6ed557fdf5ad18a8e2c93354ef4449c867b1a86e436fe7bc6d3e9b.png" alt="" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-lg-7">
        
                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-check blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Missão</h5>
                            <p class="grey-text">Contribuir para a sustentabilidade e o desenvolvimento humano, gerando rentabilidade e satisfação dos clientes através de uma cadeia logística eficiente.</p>
                        </div>
                    </div>
                    <!--Grid row-->
        
                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-check blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Visão</h5>
                            <p class="grey-text">Ser referência no transporte rodoviário de cargas, reconhecida pela qualidade, confiança e inovação da prestação de serviços.</p>
                        </div>
                    </div>
                    <!--Grid row-->
        
                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-check blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Valores</h5>
                            <p class="grey-text">Ética, Qualidade, Rentabilidade,
                                    Profissionalismo.</p>
                        </div>
                    </div>
                    <!--Grid row-->
        
                </div>
                <!--Grid column-->
        
            </div>
            <!--Grid row-->
            <router-outlet></router-outlet>
        </section>
        </div>
      </main>