<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="true">
    <logo>
        <a class="logo navbar-brand" routerLink="/home"><strong>CSL</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/modulo-coleta">Solicitação de Coleta</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/modulo-frete">Tabela de Frete</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/modulo-controle-frete-simulacao">Simulação de Frete</a>
            </li> 
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                    <button type="button" class="btn btn-default btn-sm" (click)="logout()">
                            <span class="fa level-down" aria-hidden="true"></span>Sair
                    </button>
                </li>
        </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <main>
    <div class="container" style="height:1300px;">
      <section class="section feature-box pt-5" id="feature" data-spy="feature"
      data-target="#feature">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputEmail4">Distância(KM) </label>
                <input type="number" class="form-control" id="inputAddress" placeholder="Distância(KM)" name="distancia"  [(ngModel)]="simulcaoFrete.kmRodado" #distancia="ngModel" required>
                <span *ngIf="f.submitted && !distancia.valid" class="help-block">Km Rodado é obrigatório</span>
            </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Quantidade de Eixos</label>
                <input type="number"  class="form-control" id="inputPassword4" placeholder="Quantidade de Eixos" name="qtdEixos"  [(ngModel)]="simulcaoFrete.qtdEixos" #qtdEixos="ngModel" required>
                <span *ngIf="f.submitted && !qtdEixos.valid" class="help-block">Quantidade de Eixos</span>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Tipo de Carga</label>
                    <select id="inputState" class="form-control" name="tipoCarga"  [(ngModel)]="simulcaoFrete.tipoCarga" #tipoCarga="ngModel" required>
                      <option selected>Tipo de Carga...</option>
                      <option>Carga Geral</option>
                      <option>Carga Granel</option>
                      <option>Carga Neogranel</option>
                      <option>Carga Frigorifíca</option>
                      <option>Carga Perigosa</option>
                    </select>
                    <span *ngIf="f.submitted && !tipoCarga.valid" class="help-block">Tipo de Carga é obrigatório</span>
                  </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary">Simular</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </form>
       
     <router-outlet></router-outlet>
    </section>
    </div>
  </main>
  